<!DOCTYPE html>
<head>
    <title>Hello</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
</head>
<html>
<body>
    <div class='outer'><h4>HI!</h4></div>
    <button type="button" class="nxt-btn"><a href="http://127.0.0.1:5500/templates/ques1.html" class="next-link">NEXT</a></button>
</body>
</html>